// Place all the styles related to the EquiTurns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th {
	padding: 10px;
	text-align: left;
}

td {
	padding: 0 10px;
}


/*Navbar-----------------------------------*/

.navbar-brand {
float: left;
padding: 0px 5px;
font-size: 18px;
line-height: 20px;
height: 50px
}
.equilogo{
	width: 200px;
	height: 50px;
}

/*Carousel--------------------------------*/


#myCarousel {
	margin-top: 10px;
}

.carousel-caption {
	font-size: 24px;
}
.carousel-caption h4{
	font-size: 32px;
}

#myCarousel .item { height: 400px;}

#slide1 {
	background: url("invest.jpg") top left no-repeat;
}
#slide2 {
	background: url("coffee.jpg") top left no-repeat;
}

.black {
	width: 100%;
	height: 260px;
	position: absolute;
}
.blue {
	height: 200px;
	width: 200px;
	position: absolute;
	float: left;
	border: 8px solid #707070;
	margin-top: 20px;
	margin-left: 50px;
}
.blue:hover {
	opacity: 0.4;
	background-color: #707070;
}
.green {
	height: 200px;
	width: 200px;
	position: absolute;
	float: left;
	border: 8px solid #707070;
	margin-top: 20px;
	margin-left: 50px;
}
.green:hover {
	opacity: 0.4;
	background-color: #707070;
}
.multi {
	height: 200px;
	width: 200px;
	position: absolute;
	float: left;
	border: 8px solid #707070;
	margin-top: 20px;
	margin-left: 50px;
}
.multi:hover {
	opacity: 0.4;
	background-color: #707070;
}

.returns {
	height: 200px;
	width: 200px;
	position: absolute;
	float: left;
	border: 8px solid #707070;
	margin-top: 20px;
	margin-left: 50px;
}
.returns:hover {
	opacity: 0.4;
	background-color: #707070;
}

.gstock {
	height: 200px;
	width: 200px;
	position: absolute;
	float: left;
	border: 8px solid #707070;
	margin-top: 20px;
	margin-left: 50px;
}
.gstock:hover {
	opacity: 0.4;
	background-color: #707070;
}

.wstock {
	height: 200px;
	width: 200px;
	position: absolute;
	float: left;
	border: 8px solid #707070;
	margin-top: 20px;
	margin-left: 50px;
}
.wstock:hover {
	opacity: 0.4;
	background-color: #707070;
}

.link {
	font-size: 20px
}

/*Media Queries------------------------------*/

/*Portrait & landscape phone*/
@media (max-width: 480px) {
	#myCarousel .item { height: 300px;}

	#slide1 {
		background: url("investsmall.jpg") top left no-repeat;
	}
	#myCarousel	#slide2 {
		background: url("coffeesmall.jpg") top left no-repeat;
	}
	.carousel-caption:{
		font-size: 16px;
	}
	.carousel-caption h4 {
		font-size: 22px;
	}
}

/*Landscape phone to portrait tablet*/
@media (max-width: 768px) {

	#myCarousel .item { height: 400px;}

	#slide1 {
		background: url("investmed.jpg") top left no-repeat;
	}
	#slide2 {
		background: url("coffeemed.jpg") top left no-repeat;
	}
	.carousel-caption:{
		font-size: 16px;
	}
	.carousel-caption h4 {
		font-size: 22px;
	}
	
}

/* Large desktop */
@media (min-width: 1200px) {
	
	#myCarousel .item { height: 500px;}

	#slide1 {
		background: url("invest.jpg") top left no-repeat;
	}
	#slide2 {
		background: url("coffee.jpg") top left no-repeat;
	}

}










