// Place all the styles related to the EquiTurns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin: 25px;
}
th {
	padding: 10px;
	text-align: left;
}

td {
	padding: 0 10px;
}
.black {
	width: 100%;
	height: 260px;
	position: absolute;
}
.blue {
	height: 150px;
	width: 150px;
	position: absolute;
	float: left;
	border: 8px ridge #707070;
	margin-top: 50px;
	margin-left: 50px;
}
.blue:hover {
	opacity: 0.4;
	background-color: #707070;
}
.green {
	height: 150px;
	width: 150px;
	position: absolute;
	float: left;
	border: 8px ridge #707070;
	margin-top: 50px;
	margin-left: 50px;
}
.green:hover {
	opacity: 0.4;
	background-color: #707070;
}
.multi {
	height: 150px;
	width: 150px;
	position: absolute;
	float: left;
	border: 8px ridge #707070;
	margin-top: 50px;
	margin-left: 50px;
}
.multi:hover {
	opacity: 0.4;
	background-color: #707070;
}

.returns {
	height: 150px;
	width: 150px;
	position: absolute;
	float: left;
	border: 8px solid #707070;
	margin-top: 50px;
	margin-left: 50px;
}
.returns:hover {
	opacity: 0.4;
	background-color: #707070;
}

.gstock {
	height: 150px;
	width: 150px;
	position: absolute;
	float: left;
	border: 8px ridge #707070;
	margin-top: 50px;
	margin-left: 50px;
}
.gstock:hover {
	opacity: 0.4;
	background-color: #707070;
}

.wstock {
	height: 150px;
	width: 150px;
	position: absolute;
	float: left;
	border: 8px ridge #707070;
	margin-top: 50px;
	margin-left: 50px;
}
.wstock:hover {
	opacity: 0.4;
	background-color: #707070;
}

.button {
		-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
	background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
	background-color:#63b8ee;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-right-radius:7px;
	border-bottom-left-radius:7px;
	text-indent:0;
	border:1px solid #3866a3;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	font-style:normal;
	height:47px;
	line-height:40px;
	width:146px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #7cacde;
/*	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5e95cc), color-stop(1, #306fad) );
	background:-moz-linear-gradient( center top, #5e95cc 5%, #306fad 100% );*/
	
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #306fad), color-stop(1, #5e95cc) );
	background:-moz-linear-gradient( center top, #306fad 5%, #5e95cc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#306fad', endColorstr='#5e95cc');
	background-color:#306fad;
	text-decoration:none;
}

.button:active {
	position:relative;
	top:1px;
}
